body {
  background-color: #ffc6b6;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-gap: 20px;
  align-items: center;
}

.grid div {
  border-radius: 3px;
  border: 3px solid black;
  width: 14em;
  /* height: 25em; */
  margin: 20px;
  padding: 1em;
  display: inline-block;
  text-align: center;
}

body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
img {
  height: 7em;
  border: 1px solid #000;
}





